@page "/"

<PageTitle>Home</PageTitle>
<div class="wrap">





    <section class="form">
        <label for="ticker" class="label">Тикер</label>
        <input type="text" id="ticker" name="ticker" placeholder="DOGE" class="input" />

        <div class="tags">
            <button class="tag">BTC</button>
            <button class="tag">DOGE</button>
            <button class="tag">BCH</button>
            <button class="tag">CHD</button>
        </div>

        <p class="error">Такой тикер уже добавлен</p>

        <button type="button" class="btn">
            <img src="/icons/iconplus.png" alt="Добавить" class="icon" />
            Добавить
        </button>
    </section>

    <hr class="line" />






    <div class="cards">
        <div class="card big">
            <div class="info">
                <div class="title">VUE - RUB</div>
                <div class="value">80000.00</div>
            </div>
            <div class="line"></div>
            <button class="btn-del">
                <img src="/icons/delete.png" alt="Удалить" class="icon" />
                Удалить
            </button>
        </div>

        <div class="card">
            <div class="info">
                <div class="title">BTC - USD</div>
                <div class="value">99999.99</div>
            </div>
            <div class="line"></div>
            <button class="btn-del">
                <img src="/icons/delete.png" alt="Удалить" class="icon" />
                Удалить
            </button>
        </div>

        <div class="card">
            <div class="info">
                <div class="title">DOGE - USD</div>
                <div class="value">0.0014</div>
            </div>
            <div class="line"></div>
            <button class="btn-del">
                <img src="/icons/delete.png" alt="Удалить" class="icon" />
                Удалить
            </button>
        </div>



        <div class="card">
            <div class="info">
                <div class="title">WTF - USD</div>
                <div class="value">1.11</div>
            </div>
            <div class="line"></div>
            <button class="btn-del">
                <img src="/icons/delete.png" alt="Удалить" class="icon" />
                Удалить
            </button>
        </div>
    </div>

    
    <hr class="line" />






    <section class="chart">
        <h3 class="chart-title">VUE - USD</h3>
        <div class="bars">
            <div class="bar h-24"></div>
            <div class="bar h-32"></div>
            <div class="bar h-48"></div>
            <div class="bar h-16"></div>
        </div>
        <button class="close">
            <img src="/icons/close1.png" alt="Закрыть" class="icon" />
        </button>
    </section>
</div>